
  body {
    background-image: url(https://images.unsplash.com/photo-1761836049151-828ec6496e8b?q=80&w=673&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover;      /* Ensures the image covers the entire background */
    margin: 0;                   /* Removes default margin */
    min-height: 100vh;           /* Ensures the body takes at least the full viewport height */
  }



body {
    background-color: rgb(182, 230, 244) ;
}
  body{
    font-family: 'Calibri', sans-serif;
   }
    p {
    color: #275f79; 
}
h1 {
    color: rgb(5, 48, 105); 
}

h4 {
    color: #215b64; 
}

h3 {
    color: #14475f; 
}

li {
    color: #045266; 
}